Nama : Atmaja Jalu Narendra Kisma
Kode Peserta : PYTN-KS 16-07
Asal : Universitas Amikom Purwokerto

# Perulangan dan Percabangan

In [1]:
## Contoh IF 1

x = 0
y = 5

if x > y:
    print("No")
else :
    print ("yes")

yes

In [2]:
## Contoh IF 2

a = 10
b = 15

if a > b:
    print("Salah")
if a < b:
    print("benar")
if "Atmaja" in ["Atmaja", "Saktia", "Diana"]:
    print ("Ya")

benar
Ya

In [3]:
## Contoh IF 3 Indentasi

# Contoh yang salah indentasi
if "Apel" in ["Pisang", "Durian", "Anggur"]:
    print("Ada")
    print("enak")
print("salah")

# Contoh yang benar
if "Pisang" in ["Pisang", "Durian", "Anggur"]:
    print("Ada")

salah
Ada

In [4]:
## Conoth 4 Indentansi Rumit

if "Atmaja" in ["Atmaja", "Jalu", "Narendra", "Kisma"]:
    print("Kondisi di luar")
    
    if 10 > 20:
        print("Didalam kondisi 1")
        
    print("Diantara kondisi didalam")
    
    if 10 < 20:
        print("Didalam kondisi 2")
        
    print("Akhir Kondisi")
    
print("Setelah kondisi")

Kondisi di luar
Diantara kondisi didalam
Didalam kondisi 2
Akhir Kondisi
Setelah kondisi

# ELSE & ELIF

In [5]:
## Contoh 1 ELSE
a = 10

if a < 20:
    print("Pilihan 1 : ")
    print("a lebih kecil")
else:
    print("Pilihan 2 : ")
    print("a lebih besar")
    
## Contoh 2 ELSE
b = 100

if b < 20:
    print("Pilihan 1 : ")
    print("a lebih kecil")
else:
    print("Pilihan 2 : ")
    print("b lebih besar")

Pilihan 1 :
a lebih kecil
Pilihan 2 :
b lebih besar

In [6]:
## Contoh 3 ELSE
hargaDiamondFF = 100000
hargaDiamondML = 50000
uang = 5000

if uang > hargaDiamondFF:
    print("Beli Diamond FF")
else:
    print("Uang tidak cukup")

Uang tidak cukup

In [7]:
## Contoh 3 ELSE IF
hargaDiamondFF = 100000
hargaDiamondML = 50000
uang = 5000

if uang > hargaDiamondFF:
    print("Beli Diamond FF")
elif uang > hargaDiamondML:
    print("Beli Diamond ML")
else:
    print("Uang tidak cukup")

Uang tidak cukup

In [8]:
## Contoh 4 ELSE IF
nama = "Atmaja"

if nama == "Jalu":
    print("Helo Jalu Hacktiv8")
elif nama == "Narendra":
    print("Helo Narendra Hacktiv8")
elif nama == "Atmaja":
    print("Helo Atmaja Hacktiv8")
else:
    print("Saya tidak tahu!")

Helo Atmaja Hacktiv8

In [9]:
## Contoh 5 ELSE IF
nama = "Atmaja"

if nama == "Jalu":
    print("Helo Jalu Hacktiv8")
elif nama == "Narendra":
    print("Helo Narendra Hacktiv8")
elif nama == "Abhiyaksa":
    print("Helo Atmaja Hacktiv8")
else:
    print("Saya tidak tahu!")

Saya tidak tahu!

In [10]:
## Contoh Satu Line Statement
if "f" in "foo": print("1"); print("2"); print("3")

1
2
3

In [11]:
## Multiple statment satu line

a = 2
if a == 1: print("Atmaja"); print("Jalu"); print("Narendra"); print("kisma")
elif a == 2: print ("Hacktiv8"); print("Teknologi"); print("Indonesia")
else: print("Tidak ada!")

Hacktiv8
Teknologi
Indonesia

In [12]:
## Statment yang sama dan menarik

a = 2
if a == 1: 
    print("Atmaja")
    print("Jalu")
    print("Narendra")
    print("kisma")
elif a == 2: 
    print ("Hacktiv8")
    print("Teknologi")
    print("Indonesia")
else:
    print("Tidak ada!")

Hacktiv8
Teknologi
Indonesia

### QUIZ
Anda adalah penjual pisang. Yang mana pisang anda berharga 3000.

Buatlah sebuah program if-else yg memiliki kondisi, jika seseorang berbelanja di Anda lebih dari 100,000 maka akan diberikan diskon 10%. Kalau lebih dari 50,000 namun kurang dari 100,000 maka akan diberi diskon 5%. Kalau kurang dari 50,000 maka tidak diberi diskon sama sekali.

In [1]:
print('berapa pisang yang anda beli?')
pisang = int(input())
satupisang = 3000
belanja = satupisang * pisang
if belanja > 100000:
    total = belanja - (belanja (10/100))
    print('total belanja anda' + str(total) + '('+str(belanja) + 'diskon 10%)')
elif belanja > 50000 and belanja < 100000:
    total = belanja - (belanja (5/100))
    print('total belanja anda' + str(total) + '('+str(belanja) + 'diskon 5%)')
else:
    total = belanja
    print('total belanja ' + str (total))

berapa pisang yang anda beli?
12
total belanja 36000

# Conditional Expresion

In [13]:
# Contoh 1 true
lari = True
print("Ayo lari ke", "halaman" if not lari else"perpustakaan")

Ayo lari ke perpustakaan

In [14]:
# Contoh 2 False
lari = False
print("Ayo lari ke", "halaman" if not lari else"perpustakaan")

Ayo lari ke halaman

In [15]:
## Contoh 3 yang lain
umur = 22
Atmaja = "Muda " if umur < 25 else "TUA"
print(Atmaja)

Muda

In [16]:
# Contoh 4 yang lain

if a > b :
    m = a
else:
    m = b

# Perulangan

In [17]:
# Contoh perulangan sederhana dari bawah ke atas
n = 5
while n > 0:
    n -= 1
    print(n)

4
3
2
1
0

In [18]:
# Contoh perulangan sederhana kebawah
m = 1
while m <  6:
    print(m)
    m += 1

1
2
3
4
5

In [2]:
# Contoh ganjil dan genap
i = 1
while i <=20:
    if i % 2==1:
        print(i)
    else:
        print("GENAP")
    i+=1

1
GENAP
3
GENAP
5
GENAP
7
GENAP
9
GENAP
11
GENAP
13
GENAP
15
GENAP
17
GENAP
19
GENAP

# Python Break

In [19]:
#Contoh 1

n = 5
while n > 0:
    n -= 1
    if n == 0:
        break
    print(n)
        
print("Perulangan berhenti")

4
3
2
1
Perulangan berhenti

In [20]:
# Contoh 2

n = 5
while n > 0:
    n -= 1
    if n == 2:
        break
else:
    print("Perulangan berhenti")

In [21]:
# Contoh 3
umur = 17
gender = "p"
if umur < 18:
    if gender == "L":
        print("Anak laki-laki")
    else:
        print("Anak Perempuan")
elif umur >= 18 and umur <=65:
    if gender == "L":
        print("Bapak")
    else:
        print("Ibu")
else:
    if gender == "L":
        print("Kakek")
    else:
        print("Nenek")

Anak Perempuan

In [22]:
## Contoh 4 

a = ["Atmaja", "Jalu", "Narendra", "Kisma"]

for i in a:
    print(i)

Atmaja
Jalu
Narendra
Kisma

In [23]:
## Contoh 5

b = {"Atmaja" : 1, "Hacktiv8" : 2}

# Pemanggilan Variable
for k in b:
    print(k)
    
# Pemanggilan Isi
for k in b:
    print(b[k])
    
# Pemanggilan item
for k, v in b.items():
    print(k, ":", v)

Atmaja
Hacktiv8
1
2
Atmaja : 1
Hacktiv8 : 2

# Else clause

In [24]:
## Contoh 1

for i in ["Hacktive8", "Teknologi","Indonesia"]:
    print(i)
else:
    print('Done.')

Hacktive8
Teknologi
Indonesia
Done.

In [25]:
## Contoh 2

for i in["Atmaja", "Jalu", "Narendra", "Kisma"]:
    if i == "Narendra":
        break
    print(i)
else:
    print ("Done.")

Atmaja
Jalu

In [26]:
## Contoh 3

temp = input("Ketikkan Konversi temperatur: ")
degree = int(temp[:-1])
i_conversion = temp[-1]

if i_conversion == "C":
    result = int(round((9 * degree) / 5 + 32))
    print("Temperaturnya adalah", result, "derajat Fahrenheit")
elif i_conversion == "F":
    result = int(round((degree - 32) * 5 / 9))
    print("Temperaturnya adalah", result, "derajat Celsius")
else:
    print("Masukan Input yang benar!")

Ketikkan Konversi temperatur: 98C
Temperaturnya adalah 208 derajat Fahrenheit

In [27]:
## Contoh 4 mengubah huruf jadi kecil

while True:
    msg = input("Ketikkan karakter (ketik 'Done' untuk keluar): ").strip().lower()
    print(msg)
    if msg == "done":
        print("Program berhenti.")
        break

Ketikkan karakter (ketik 'Done' untuk keluar): STOP
stop
Ketikkan karakter (ketik 'Done' untuk keluar): Done
done
Program berhenti.