Nama : Atmaja Jalu Narendra Kisma
Kode Peserta : PYTN-KS16-07
Asal : Universitas Amikom Purwokerto

# Function, Basic Module an package

In [2]:
## Contoh 1

def fungsisaya(p,l):
    "Fungsi menghitung luas persegi panjang"
    print(p*l)
fungsisaya(2,4)

8

In [5]:
## Contoh 2 fungsi string

def printme( str ):
    "Ini adalah fungsi menggunakann tipe data string"
    print(str)
    return

# Pemanggilan fungsinya
printme("Kalimat pertama fungsi")
printme("kalimat kedua fungsi")

Kalimat pertama fungsi
kalimat kedua fungsi

In [15]:
# Contoh 3 mengubah list

def ganti(mylist):
    "ini adalah cara mengganti list didalam fungsi"
    mylist.append([1,2,3,4]);
    print("Ini adalah isi : ", mylist)
    return

# Sekarang kita ganti
mylist = [10,20,30];
ganti(mylist)
print("Ini adalah isi : ", mylist)

Ini adalah isi :  [10, 20, 30, [1, 2, 3, 4]]
Ini adalah isi :  [10, 20, 30, [1, 2, 3, 4]]

In [16]:
# Contoh 4 mengubah list

def ganti(mylist):
    "ini adalah cara mengganti list didalam fungsi"
    mylist = [1,2,3,4];
    print("Ini adalah isi : ", mylist)
    return

# Sekarang kita ganti
mylist = [10,20,30];
ganti(mylist)
print("Ini adalah isi : ", mylist)

Ini adalah isi :  [1, 2, 3, 4]
Ini adalah isi :  [10, 20, 30]

In [18]:
# Contoh 5
def printme(str):
    "Menampilkan string function"
    print(str)
    return;
printme(str = "Hacktiv8")
printme(str = "Atmaja")

Hacktiv8
Atmaja

In [19]:
## Contoh 6 

def printinfo(name, age):
    "Ini adalah 2 function"
    print("Name : ", name)
    print("Age : ", age)
    return;

printinfo(name ="Atmaja", age=22)

Name :  Atmaja
Age :  22

In [20]:
## Contoh 7

def printinfo( name, age = 22):
    "Ini adalah contoh yang berbeda"
    print("Nama : ", name)
    print("Age : ", age)
    return;
printinfo(age = 50, name= "hacktiv8")
printinfo(name ="Atmaja")

Nama :  hacktiv8
Age :  50
Nama :  Atmaja
Age :  22

## Variable-length arguments

In [22]:
## Contoh 1

def printinfo(arg1, * vartuple):
    "Ini adalah variable passed argument"
    print("output is : ")
    print(arg1)
    for var in vartuple:
        print(var)
    return;
printinfo(10)
printinfo(70,60,50, "a")

output is :
10
output is :
70
60
50
a

In [3]:
## Contoh 2

sum_lambda = lambda arg1, arg2: arg1 + arg2

def sum_function(arg1, arg2):
    return arg1 + arg2

print("Total (lambda):", sum_lambda(10, 20))
print("Total (function):", sum_function(20, 20))

Total (lambda): 30
Total (function): 40

In [6]:
## Contoh 3

def sum(arg1, arg2):
    total = arg1+ arg2
    total2 = total + arg1
    print("total function dengan cara dalam : ", total)
    return total2

total = sum(10, 20)
print("total function dengan cara luar : ", total)

total function dengan cara dalam :  30
total function dengan cara luar :  40

## Global vs Local Variables

In [8]:
total = 0;

def sum(arg1, arg2):
    
    total = arg1+ arg2;
    print("Total function dalam : ", total)
    return total;

def min():
    sum(10,20);
print("Total Function luar", total)

Total Function luar 0

In [9]:
jumlahKucing =20

def jumlahHewan ():
    jumlahAnjing = 30
    return jumlahKucing + jumlahAnjing

def jumlahKelinci(): 
    return jumlahKucing + jumlahKucing

jumlahHewan ()

jumlahKelinci()

40