Nama : Atmaja Jalu Narendra Kisma
Kode Peserta : PYTN-KS16-07
Asal : Universitas Amikom Purwokerto

# NUMPY

## Array

In [7]:
## Import Library
!pip install numpy
import numpy as np



arr1 = np.array([1, 2, 3])
arr2 = np.zeros((3, 3))
arr3 = np.empty(5)

print(arr1)
print(arr2)
print(arr3)

Requirement already satisfied: numpy in c:\users\atmaja jnk\miniconda3\lib\site-packages (1.25.2)
[1 2 3]
[[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]
[2.12199579e-314 1.21378159e-311 9.32795939e-321 3.79442416e-321
 0.00000000e+000]

In [8]:
# Contoh 1

def calc(a,b,c):
    if (a.isnumeric()==True) and (c.isnumeric()==True):
        a = int(a)
        c = int(c)
        if b == 'x':
            print('hasil dari', a,b,c, 'adalah', a*c)
        elif b == '+':
            print('hasil dari', a,b,c, 'adalah', a+c)
        elif b == ':':
            print('hasil dari', a,b,c, 'adalah', a/c)
        elif b == '-':
            print('hasil dari', a,b,c, 'adalah', a-c)
        elif b == '^':
            print('hasil dari', a,b,c, 'adalah', a**c)
        else:
            print('operator', b, 'tidak ditemukan')
    else:
        print('salah')
        
a=(input('masukan angka1 ='))
b=(input('masukan operator ='))
c=(input('masukan angka2 ='))

calc(a,b,c)

masukan angka1 =12
masukan operator =x
masukan angka2 =23
hasil dari 12 x 23 adalah 276

In [9]:
# Contoh 2
a = '3'
c.isnumeric()

True

In [11]:
try:
    int('string')
except:
    print('bukan string')

bukan string

In [12]:
# Contoh 3
a=np.array([1,2,3])

print(a)

[1 2 3]

## One Dimensional Array

In [13]:
# Contoh 1
array1 = np.array([1,2,3,4,5])
print(np.append(array1,[6,7]))

[1 2 3 4 5 6 7]

In [14]:
# Contoh 2
array1[2:]

array([3, 4, 5])

In [15]:
# Contoh 3
array1.shape

(5,)

## Two Dimensional Array

In [19]:
# Contoh 1
list = [[1,2,3],[4,5,6],[7,8,9],[10,11,12]]
aray2 = np.array(list)
aray2

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [20]:
print(aray2.shape)

(4, 3)

## Creating Array

In [21]:
# Contoh 1 1 Dimensi
print(np.zeros(3))

[0. 0. 0.]

In [22]:
# Contoh 2 2 Dimensi
print(np.zeros([3,2]))

[[0. 0.]
 [0. 0.]
 [0. 0.]]

In [23]:
# Contoh Membuat array dengan angka 1
print(np.ones([2,2]))

[[1. 1.]
 [1. 1.]]

In [24]:
print(np.ones(3))

[1. 1. 1.]

### Quiz

In [26]:
n=int(input('how tall ? '))
t=0

if n%2==0:
   t=n-1
else:
   t=n

for i in range(0,t):
   if (t-2*i)>0: 
      print(' '*i+'*'*(t-2*i))
   else:
      k=t-i-1
      print(' '*k+'*'*(t-2*k))

how tall ? 12
***********
 *********
  *******
   *****
    ***
     *
    ***
   *****
  *******
 *********
***********

In [27]:
x = np.array([1,2,3,4,5])

#append untuk menambahkan elemen ke array 
print(np.append(x,[6,7]))
#delete untuk menghapus elemen di array
print(np.delete(x,2))
#sort untuk menentukan axis, jenis, dan urutan saat memanggl fungsi
print(np.sort(x))

[1 2 3 4 5 6 7]
[1 2 4 5]
[1 2 3 4 5]

## Shape And Size

In [28]:
# Contoh 1

x = np.array([1,2,3,4,3,2,1,5,6,7,8,9,10])
y = np.zeros((3,3))
#ndim untuk memberi tahu jumlah axes atau dimensi dari array
print(x.ndim)
print(y.ndim)

#size untuk memberti tahu jumlah total elemen array
print(x.size)
print(y.size)

#reshape untuk memberikan bentuk baru ke array tanpa mengubah datanya
print(x[:-1].reshape(3,4))

1
2
13
9
[[1 2 3 4]
 [3 2 1 5]
 [6 7 8 9]]

In [29]:
# COntoh 2

# np.newaxis untuk menambah axis
a = np.array([1,2,3,4])
a.shape

a2 = a[np.newaxis]
print(a2.shape)
print(a2)

(1, 4)
[[1 2 3 4]]

In [30]:
# Contoh 3

# convert 1D ke 2D 
row_vector = a[np.newaxis, :]
print(row_vector.shape)
print(row_vector)

(1, 4)
[[1 2 3 4]]

In [31]:
# Contoh 4

col_vector = a[:, np.newaxis]
print(col_vector.shape)
print(col_vector)

(4, 1)
[[1]
 [2]
 [3]
 [4]]

## Indexing & Slicing

In [32]:
# Contoh 1

b = np.array([1,2,3])
print(b)
print(b[0])
print(b[1])
print(b[2])
print(b[1:])
print(b[-1:])
print(b[b>=2])

[1 2 3]
1
2
3
[2 3]
[3]
[2 3]

In [34]:
# Contoh 2
divisible_by_2 = a[a%2==0]
print(divisible_by_2)

[2 4]

In [35]:
# Contoh 3

c = a[(a>1) & (a<3)]
print(c)

[2]

In [36]:
# Contoh 4
array3 = np.array([[1,2,3,4]])
array4 = np.array([[5,6,7,8]])
np.vstack([array3,array4]) #menumpuk array secara vertikal
print(np.hstack([array3,array4]))

[[1 2 3 4 5 6 7 8]]

In [37]:
# COntoh 5
array5 = np.array([1,2,3,4])
array6 = np.array([5,6,7,8])
np.hstack([array5,array6]) #menumpuk array secara horizontal

array([1, 2, 3, 4, 5, 6, 7, 8])

In [38]:
# Contoh 6 
#stack
array1 = np.array([3,4,5,6,7])
array2 = np.array([7,8,9,10,11])
print('Stack secara Vertikal')
print(np.vstack([array1,array2]))
print('Stack secara Horizontal')
print(np.hstack([array1,array2]))

Stack secara Vertikal
[[ 3  4  5  6  7]
 [ 7  8  9 10 11]]
Stack secara Horizontal
[ 3  4  5  6  7  7  8  9 10 11]

In [39]:
# Contoh 7
#hsplit
array3 = np.array([3,4,5,6,7,8])
arraysplit = np.hsplit(array3,2)
(arraysplit)

[array([3, 4, 5]), array([6, 7, 8])]

In [40]:
# Contoh 8
#vsplit
array4 = np.array([[11,21,31,41],[41,51,61,71]])
print(array4.shape)
print('Horizontal Split')
print(np.hsplit(array4,2))
print('Vertical Split')
print(np.vsplit(array4,2))

(2, 4)
Horizontal Split
[array([[11, 21],
       [41, 51]]), array([[31, 41],
       [61, 71]])]
Vertical Split
[array([[11, 21, 31, 41]]), array([[41, 51, 61, 71]])]

In [41]:
# COntoh 9
np.append(array3,[11,12,13,14])

array([ 3,  4,  5,  6,  7,  8, 11, 12, 13, 14])

In [42]:
# Contoh 10
#np.expand_dims
array8 = np.array([23,24,25,26,27,28,29])
array9 = np.expand_dims(array8,axis=1)
array10 = np.expand_dims(array8,axis=0)
print(array9)
print(array9.shape)
print(array10)
print(array10.shape)

[[23]
 [24]
 [25]
 [26]
 [27]
 [28]
 [29]]
(7, 1)
[[23 24 25 26 27 28 29]]
(1, 7)

## Operasi Matematika Pada Array

In [43]:
# Contoh 1
array = np.array([1,2,3])
array*2

array([2, 4, 6])

In [44]:
# Contoh 2
array1 = np.array([[10,11,12],[13,14,15]])
array1-4

array([[ 6,  7,  8],
       [ 9, 10, 11]])

In [45]:
# Contoh 3
array1/2

array([[5. , 5.5, 6. ],
       [6.5, 7. , 7.5]])

In [46]:
# Contoh 4
# menjumlahkan kolom array1 dengan yang beraxis 1
array1.sum(axis=1)

array([33, 42])

In [47]:
# Contoh 5
# menjumlahkan baris array1 dengan yang beraxis 0
array1.sum(axis=0)

array([23, 25, 27])

## Filtering Array

In [50]:
# Contoh 1
array2 = np.array([100,200,300,400,500])
print(array2[array2>100])
print(array2[array2==400])
print(array2[array2<=800])

[200 300 400 500]
[400]
[100 200 300 400 500]

In [51]:
# Contoh 2
array3 = np.array([[1,3,5],[5,7,9],[-1,-2,-3]])
array3.shape
print(array3[array3>5])

[7 9]

In [52]:
print('aku mau \n nasi \n 11')

aku mau
 nasi
 11

## Operasi Aritmetik Antar 2 Array

In [53]:
# COntoh 1
array_a = np.array([1,2,3])
array_b = np.array([3,4,5])
print(array_a+array_b)

[4 6 8]

In [54]:
# Contoh 2
array_c = np.array([[1,2,3],[4,5,6]])
array_d = np.array([[6,7,8],[9,10,11]])
print(array_c-array_d)

[[-5 -5 -5]
 [-5 -5 -5]]

In [55]:
# Contoh 3
array_a = np.array([1,2,3])
array_b = np.array([3,4,5])
array_c = np.array([[1,2,3],[4,5,6]])
array_d = np.array([[6,7,8],[9,10,11]])
print(array_a.sum())
print(array_c.sum())
print(array_c.sum(axis=0))

6
21
[5 7 9]

In [56]:
# Contoh 4
array_c = np.array([[1,2,3],[4,5,6]])
print(array_c)
print(array_c.sum(axis=0))
print(array_c.sum(axis=1))

[[1 2 3]
 [4 5 6]]
[5 7 9]
[ 6 15]

In [57]:
# Contoh 5
array_a = np.array([1,2,3])
array_b = np.array([3,4,5])
array_c = np.array([[5,2,3],[4,5,6]])
print(array_a.max())
print(array_c.max())
print(array_c)
print(array_c.max(axis=0))
print(array_c.min(axis=0))

3
6
[[5 2 3]
 [4 5 6]]
[5 5 6]
[4 2 3]

## Transposing

In [58]:
# Contoh 1
arrayx = np.array([[5,2,3],[4,5,6]])
print(arrayx)
print(arrayx.shape)

[[5 2 3]
 [4 5 6]]
(2, 3)

In [59]:
# COntoh 2
print(arrayx.T)
print(arrayx.T.shape)

[[5 4]
 [2 5]
 [3 6]]
(3, 2)

In [60]:
# Contoh 3
arrayd = np.array([[1,2,3,4,5],[4,5,6,7,8],[7,8,9,10,11]])
print(arrayd)
print(arrayd.shape)

[[ 1  2  3  4  5]
 [ 4  5  6  7  8]
 [ 7  8  9 10 11]]
(3, 5)

In [61]:
# Contoh 4
print(arrayd.T)
print(arrayd.T.shape)

[[ 1  4  7]
 [ 2  5  8]
 [ 3  6  9]
 [ 4  7 10]
 [ 5  8 11]]
(5, 3)

In [62]:
# Contoh 5
array_random = np.random.random([3,5])*100
print(array_random)

[[18.30496999 64.46500259 63.64001619 60.22081526 49.45743334]
 [42.23772022 20.41094618 53.68991766 20.67955447 56.73130108]
 [91.4148528  17.86542774 86.12162987 67.61574846 79.94655242]]

In [63]:
# Contoh 6
array_random = np.random.random([3,1,2])*100
print(array_random)
print(array_random.flatten())

[[[33.15569911 31.33264712]]

 [[27.69312363 18.62912423]]

 [[95.1918412  73.40091558]]]
[33.15569911 31.33264712 27.69312363 18.62912423 95.1918412  73.40091558]

# Numpy Math Formulas

In [64]:
# Contoh 1
array_random = np.random.random([1,2])*10
print(array_random)
np.sum(array_random)

[[9.60644523 9.46695309]]

19.073398323648533

In [65]:
np.square(58)

3364

In [66]:
np.sqrt(9)

3.0

In [67]:
a = np.log(100)
print(a)

4.605170185988092

In [68]:
np.exp(a)

100.00000000000004

### Quiz

In [70]:
## First, we will take the input:  
lower_value = int(input ("Please, Enter the Lowest Range Value: "))  
upper_value = int(input ("Please, Enter the Upper Range Value: "))  
  
print ("The Prime Numbers in the range are: ")  
for number in range (lower_value, upper_value + 1):  
    if number > 1:  
        for i in range (2, number):  
            if (number % i) == 0:  
                break  
        else:  
            print (number)

Please, Enter the Lowest Range Value: 1
Please, Enter the Upper Range Value: 12
The Prime Numbers in the range are:
2
3
5
7
11